
Histórico de valores.
!href cmd=renew&char=$char Reiniciar

!for i=1 to $laststep
 !set l=!line $i of $result
 !set t=!line $i of $history
 !set h=!htmlmath $l
 !set h=!mathsubst i=<i>i</i> in $h
 !set wims_ref_anchor=#his$i
 !form reply
 <a name=his$i>
 <input type=hidden name=step value=$i>
 x<sub>$i</sub>=<input size=28 name=formula value="$t">
 !if $l=$empty or x isin $l
  $ : Error
 !else
  !if $char>0
   $m_equiv $h &nbsp;(mod $char)
  !else
   = $h
  !endif
 !endif
!! &nbsp;&nbsp;<small><input type=submit value="Modify"></small>
 </form>
!next i

