!set mtit=<font color=green><b>$module_title</b></font>

!set helplist=!record 1 of help/index
!set helplist=!words2items $helplist
!set tlist=
!for h in $helplist
 !set l=!record 1 of help/$h.phtml
 !set l=!line 1 of $l
 !set tlist=!append line $l to $tlist
!next h
!set tlist=!sort nocase line $tlist
!set helplist=!item $wims_sort_order of $helplist

<ul>
 !for i in $helplist
  !if $i notwordof $special_parm
   !set p=!singlespace $special_parm $i
   !set t=!record 1 of help/$i.phtml
   <li>
   !href cmd=help&special_parm=$p#$i $t
  !else
   !set p=!replace word $i by $ in $special_parm
   <p><li><a name=$i><h3>
   !record 1 of help/$i.phtml
   <font size=-1>
   !href cmd=help&special_parm=$p cerrar
   </font></h3>
   !read help/$i.phtml
   <p>
  !endif 
 !next i
</ul>

<p><center>
!href cmd=resume Regresar al trabajo
</center> <p>

