!! Give answers in this file.


!if $type=histo
<h3 align="center"> 
!item 1 of $liste_type
</h3>

!for i in $law
		!set u=!positionof item $i in $liste
		!set  v=!item $u of $liste2
		!set  w=!item $u of $liste3
		!if $w >1
			!set w_parm=de parámetros
 		!endif
 		!if $w =1
	 		!set w_parm=de parámetro
 		!endif
		 !if $w=0
 			!set w_parm=$empty
	 !endif	
 		!set  parm_liste=!replace internal ; by $\
$ in $(parm_$i)
		!set  parm_lcnt=!linecnt $parm_liste
		!if laplace isin $law or logistic isin $law
			!set  parm_lcnt=1
		!endif
	<table align="center">
<tr align="center"><th >$v $w_parm  
!for j=1 to $parm_lcnt
	!set parmj=!line $j of $parm_liste
<font color=$(couleur$j)>$parmj</font>
!next j
</th><tr align="center"><td>
!set insdraw_size=$(size_$i),200
			!insdraw $(hist_$i)
</td></tr>
		</table>
!next i

$dessin_hist
!else
Usted ha solicitado 
!if $type=cdf 
 los valores siguientes de
!item 2 of $liste_type
!endif
!if $type=pdf
 los valores siguientes de
!item 1 of $liste_type
!endif
!if $type=inv
!item 3 of $liste_type
!endif

<p>
$tableau

!endif





