
!default help_subject=example1
!if example isin $help_subject
Some examples of formulas and how to type them.

<center><table border=2 cellpadding=5 cellspacing=2 bgcolor=#e8e8e4>
<tr><td><font color=green>For the formula: 
    <td><font color=green>You may type: 
    <td><font color=green>Which gives:
!if $help_subject=example1
<tr><td>4<sup>6</sup>-3<sup>6</sup>-2<sup>6</sup>
    <td><tt>4^6-3^6-2^6
    <td>3303
<tr><td>2<sup>22</sup>-10!
    <td><tt>2^22-10!
    <td>565504
<tr><td>(3<sup>5</sup>-1)(2<sup>5</sup>-1)-1
    <td><tt>(3^5-1)*(2^5-1)-1
    <td>7501
<tr><td>
    !instex $$$$ 15+77-2\over 2^3\cdot 3^5-1$$$$
    <td><tt>(15+77-2)/(2^3*3^5-1)
    <td>90/1943
<tr><td>X<sup>3</sup>-3X<sup>2</sup>+3X-1
    <td><tt>X^3-3*X^2+3*X-1
    <td>X<sup>3</sup>-3X<sup>2</sup>+3X-1
<tr><td>
    !instex $$$$ \sum^{10}_{n=1}\left(n^2+n\right)$$$$
    <td><tt>sum(n=1,10,n^2+n)
    <td>440
<tr><td>
    !instex $$$$ \prod^4_{n=1}(x^n+n) $$$$
    <td><tt>prod(n=1,4,x^n+n)
    <td>
    !htmlmath (x+1)(x^2+2)(x^3+3)(x^4+4)
<tr><td>
    12-th Fibonacci number
    <td><tt>fibonacci(12)
    <td>144
<tr><td>
    !instex $$ C^{12}_{30}={30 \choose 12}$$
    <td><tt>binomial(30,12)
    <td>86493225
<tr><td>
    !instex $$$$ 2^{2^{2^2}}-8!$$$$
    <td><tt>2^(2^(2^2))-8!
    <td>25216
<tr><td>a random number between<br>1 and 2<sup>25</sup>
    <td><tt>random(2^25)+1
    <td>random
</table></center>

!endif example 1

!endif

