
!form renew
<table border=0>
<tr><td nowrap>
Formula = 
<td nowrap><textarea rows=4 cols=40 name=formula>$formula</textarea>
<tr><td nowrap>
Operation =
<td nowrap><input size=20 name=operation value="$operation">
<tr><td colspan=2>
<input type=submit value="Submit">
<tr><td nowrap>
Formula2 = <td nowrap><input size=40 name=formula2 value="$formula2">
<tr><td nowrap>
Option = <td nowrap><input size=40 name=option>
<tr><td nowrap colspan=2>
variable = <input size=4 name=variable>
range1 = <input size=5 name=range1>
range2 = <input size=5 name=range2>
</table>
</form>

