$module_about

Esta aplicación usa el siguiente software:<br>

<center><table border=2>
<tr><td>
!exec pari about
   <td>for<td> los invariantes<br>
           inversa y fórmulas con A<br>
	   el polinomio característico
<tr><td>
!exec maxima about
       <td>for<td>autovalores y autovectores
!!                the Jordan form<br>
!!		e<sup>A</sup>
</table></center>


