!header

!if $error!=$empty
 !read msg.phtml
 !if init_fail iswordof $error
  !href cmd=renew&worksheet=$worksheet&$module_init_parm Try again.
  !goto end
 !else
  <p><hr width=50%> <p>
 !endif
!endif

!! La présentation de l'exercice.
!read present.phtml

!if $status=waiting
 !! La forme de réponse
 !read form.phtml
 <p>
 !href exo_Renew
.
!else
 !! L'analyse de réponse
 !read answer.phtml
 <p>
 !href exo_Again
.
 !if $worksheet=$empty
  !href exo_Intro
.
 !endif
!endif

:end
!tail

