!header

!if $search=$empty
  Please type a search keyword. (Don't enter mathematical formulas here.)
  !read form.phtml
  <p><hr> <p>
  !read welcome.phtml
!else
  !read form.phtml
  <p><hr> <p>
  !read search.phtml
!endif

!tail

