!let tmp1=$(sys$[$wims_read_parm])
<table>
<tr><td><table>
!for i=1 to $nbreequ
   <tr>
      !if $i<$nbreequ
         <td rowspan=$nbreequ> $(m_leftbrace$[$nbreequ]) </td>      
      !endif
      !let tmp4=!line $i of $tmp1
      !distribute items $tmp4 into tmp5,tmp6,tmp7
      !read decimal.proc $tmp5  
          <td>\($sortie)</td>
          !let tmp3=!item $tmp6 of $symboleaff
          <td>\($tmp3)</td>
          !read decimal.proc $tmp7
          <td>\($sortie)</td>
   </tr>
!next i
</table></td>
<td>$(comment$[$wims_read_parm])</td>
</tr>
</table>
