


<br>L'$nom devient :
   <input type=text name=repexo4 size=20 value=$repexo4>
   !if $mode=3
      !formselect repexo5 list 1,2,3,4,5 prompt $symbole
   !else
      =
   !endif
   <input type=text name=repexo6 size=20 value=$repexo6>
