
<center><h3>How to save and reuse the animated images</h3></center>

<p>
The animation clips produced by <font color=red>$module_title</font> are under
the format of <u>animated gif</u>.
<p>
You may save the animation sequence by using the option
``save image'' of your navigator (try to click on the right button, with the
mouse placed on the image). But you have to give a name to the file which
terminates by the extension ``.gif'' (otherwise the navigator will deposit
the file under the name ``wims.cgi'', which would make it unusable).
<p>
Suppose that you have saved the file under the name ``xyz.gif''. Then you may 
load it into an animation player software of your computer (for example
xanim for unix; somebody could
<a href=mailto:$module_address>tell me</a> the name of a 
software under windows?) to play the animation. You may notice that this
kind of dedicated software usually gives more smooth animation than under the 
navigator.
<p>
Now to include the animation clip into your web page, you have only to, say, drop
the file ``xyz.gif'' in the same directory of your html page, and in the
html file, add a line of the following style to the place you like:
<pre>
&lt;IMG SRC="xyz.gif"&gt;
</pre>
If everything is fine, you will then see the animation appear in your page.

