!set input=user_input_formula_through_the_web_interface
!set first=1
!set last=$[$max+1]

Este es el fuente del programa en PARI/GP que ejecuta esta aplicación.

<p><pre>
$pari_header

\\ Output the factorization and the decompositions
$pari_src1
$pari_src2
</pre>
<p><center>
!href cmd=help Main help page
</center>
