!header
<script language=javascript>
<!-- hide
 function addboule(n) {
  !for j=1 to min($step,$total-$filled)
   if($j<=n) document.point$[$filled+$j].src="$module_dir/gif/red.gif";
   else document.point$[$filled+$j].src="$module_dir/gif/white.gif";
  !next j
 }
// -->
</script>
!!Presentación del ejercicio
!read present.phtml

<p><hr> <p>

!if $status=waiting
 !if $error!=$empty
  !read msg.phtml
  <p>
 !endif
 !read form.phtml
 <p>
 !href cmd=renew&worksheet=$worksheet&$module_init_parm Reiniciar la partida
.
 !href cmd=help Pista
.
!else
 !if $error!=$empty
  !read msg.phtml
  <p>
 !endif
 !read answer.phtml
 <p>
 !href cmd=renew&worksheet=$worksheet&$module_init_parm Nueva partida
.
 !if $worksheet=$empty
  !href module=$module Cambiar la configuración del juego
.
 !endif
!endif

:end
!tail

!set mystep=

