!header

!read present.phtml
<p>
!if $error!=$empty
 !read msg.phtml
 <p><hr width=50%> <p>
!endif
!if $status=waiting
 !read form.phtml
 <p>
 !href exo_Renew
!else
 !read answer.phtml
 <p>
 !href exo_Again
!endif
.

:end
!tail

