!for i=1 to $spacedim
 !item $i of $varnames
 &nbsp;= <input name=eq$i value="$(eq$i)" size=20> <br>
!next i

!if , isin $parmnames
 !set lname=letras
!else
 !set lname=letra
!endif

!if $integer=1
 !set explain=Por favor, use la $lname <tt>$parmnames</tt> para designar al parametro.\
   Las funciones paramétricas deben tener coeficientes enteros.
!else
 !set explain=Por favor, utilice las $lname <tt>$parmnames</tt> para designar a los parámetros.\
   $noprox
!endif