<HTML><HEAD>
$wims_html_header 
</HEAD><BODY $wims_htmlbody>
!headmenu

<CENTER><H1>$module_title</H1></CENTER>

!if $cmd=help and $special_parm=about
  !read about.phtml
  !goto end2
!endif

!if $cmd=help
    !read help.phtml
    !goto end2
!endif

<BR><HR> <BR><I>
Usted puede resolver un sistema de $Degree ecuaciones
</I>
<BR> <BR><HR> <BR>
!if $cmd==reply
!if $vide=yes
 <strong> No ha Vous n'avez pas rempli toutes les cases , recommencez.</strong>
<BR>  
!goto changer
!endif
Usted desea resolver el sistema siguiente :
<CENTER> <BR>

!for i=1 to $Degree
	X $m_equiv $(x_$i) modulo $(m_$i)
<BR>
!next i
</CENTER>

<BR> <BR><BR>
  !ifval $d=0
    <CENTER> <BR><strong>D&eacute;sol&eacute mais il n'y a pas de solution &agrave; ce syst&egrave;me.</strong> <BR>Regardez l'aide pour voir les conditions de r&eacute;solution de ce genre de syst&egrave;me.</CENTER>
  !else $d!=0
  <font size=4><strong>La solución del sistema es :
<BR><CENTER> <BR>X $m_equiv $reste modulo $modul</CENTER></strong></font>
  !endif

<BR> <BR><BR>
!endif
:changer

!if $cmd!=reply or $essai=yes
!form
<input type=hidden name=cmd value=reply>
<input type=submit value=Dar> una solución.
<BR> <BR>
Introducir los valores numéricos del sistema :
<BR> <BR>

<CENTER>
!for i=1 to $Degree
	X $m_equiv <input size=5 name=x_$i> &nbsp; modulo &nbsp; <input size=5 name=m_$i>
<BR>        
!next i
</CENTER>
!endif

:end

<BR> <BR><HR> <BR><BR>   

!href cmd=renew&Degree=$Degree Otro sistema.
:end2

<BR> <BR>

!homeref


</BODY>
</HTML>














