!! This file contains error messages. It will be processed
!! whenever the variable `error' is not empty.
!set wims_module_error=error: $error

!! 

<b><blink><font color=red>Error.</font></blink></b>

!if bad_rank iswordof $error
 Well your $(pluri_$type) are indeed linearly independent, and they all 
 belong to $m_S. But they only generate a part of $m_S, therefore it is
 not yet a basis.
 <p>A basis of $m_S must generate $m_S entirely.
 Perhaps your estimation of dim($m_S) is erroneous?
 !advance errorcnt
 !exit
!endif

!if dep iswordof $error
 Your $(pluri_$type) are linearly dependent. For example, here is a relation
 of linear dependence:
 !set raw_dep=$dep
 !read mkdep
 <p><center>$html_dep=0</center> <p>
 Remember that the elements of a basis must be linearly
 <em>independent</em> among them.
 !advance errorcnt
 !exit
!endif

!if outer iswordof $error
 !set outer=!word 1 of $outer
 Your $(sing_$type) $(v_$type)<sub>$outer</sub> does not belong to $m_S.
 <p> Keep in mind: elements of a basis of a subspace $m_S are first
 of all elements of $m_S.
 !if . isin $v1$v2$v3$v4$v5$v6$v7$v8
  <p><b>Attention.</b> The software analyzing your reply
  does not make approximations.
  Write 1/3 instead of 0.33333333&nbsp;!
 !endif
 !advance errorcnt
 !exit
!endif

!if degree_too_big iswordof $error
 Your polynomial P<sub>$error_data</sub> has a degree greater than $degree.
 Hence it does not belong to the ambient vector space, and
 <i>a fortiori</i> not to $m_S neither.
 <p>It is a serious error of yours.
 !advance errorcnt
 !exit
!endif

!if vec_for_poly iswordof $error
 Your basis should be composed of polynomials, rather than vectors.
 !advance errorcnt
 !exit
!endif

!if bad_poly iswordof $error
 Your polynomial P<sub>$error_data</sub> is not recognizable. Please correct
 it.
 !exit
!endif

!if bad_variable iswordof $error
 Are you sure that you have entered P<sub>$error_data</sub> as a polynomial
 (of real coefficients) in X? Correct it.
 !exit
!endif

!if has_variables iswordof $error
 Functions and variables are not allowed in the reply.
 Please submit a numerical reply.
 !exit
!endif

!if rawmatrix iswordof $error
 The $(sing_$type) <i>$rawmatrix</i> is uncomprehensible.
 Please correct your typing, using <u>COMMAS</u> to
 separate elements of each line. 
 !if $type=matrix
  And verify well that each line of your
  matrix has the same number of elements!
 !endif
 !exit
!endif

!if bad_size iswordof $error
 Verify carefully your $(pluri_$type): the $(sing_$type) 
 $(v_$type)<sub>$error_data</sub>
 does not have a correct size. Please correct it.
 !advance errorcnt
 !exit
!endif

!if rank_too_big iswordof $error
 Very bad estimation of dim($m_S)! Who has told you that the dimension
 of a subspace can exceed that of the ambient space? Try again.
 !advance errorcnt
 !exit
!endif

!if rank_too_small iswordof $error
 !if $rank=0
  No, this exercise does not make subspaces of dimension 0. You have 
  made a mistake.
 !else
  What?! Negative dim($m_S)! Are you sure that you understand what
  a dimension means?
 !endif
 Try again.
 !advance errorcnt
 !exit
!endif

!if empty_data iswordof $error
 You have sent an incomplete reply. Please complete it.
 !exit
!endif

!if bad_data iswordof $error
 I have failed to evaluate the values you submitted. A typo?
 !exit
!endif

!if double_reply iswordof $error
 You have already submitted a reply to this problem, which has been 
 analysed and scored. Repetitive replies are ignored. (Don't use the 
 `reload' button of your browser to repost replies!)
 !exit
!endif

$error...

