$m_FF<sub>4</sub> es un cuerpo finito de característica 2. 
Contiene el cero 0, la unidad 1, y otros dos elementos que son
solución del polinomio X<sup>2</sup>+X+1 (en característica 2).
Denotando uno de ellos por $r=$r<sup>1</sup>, el otro será $r<sup>2</sup>.
