  <i>n</i><sub>1</sub> - <font size=+1>
  !for i = 2 to 5
    <sup>1</sup>/<sub><i>n</i><sub>$i</sub>-</sub>
  !next i
  </font> . . . =
  !set ins_align=top
  !instex $$$$ n_1-{\strut 1\over\displaystyle n_2-\
          {\strut 1\over\displaystyle n_3-\
          {\strut 1\over\displaystyle n_4-\
	  {\strut 1\over\displaystyle n_5-\cdots}}}}} $$$$
