  <i>n</i><sub>1</sub> + <font size=+1>
  <sup>1</sup>/<sub><i>n</i><sub>2</sub>$-</sub>
  <sup>1</sup>/<sub><i>n</i><sub>3</sub>$+</sub>
  <sup>1</sup>/<sub><i>n</i><sub>4</sub>$-</sub>
  <sup>1</sup>/<sub><i>n</i><sub>5</sub>$+</sub>
  </font> . . . =
  !set ins_align=top
  !instex $$$$ n_1+{\strut 1\over\displaystyle n_2-\
          {\strut 1\over\displaystyle n_3+\
          {\strut 1\over\displaystyle n_4-\
	  {\strut 1\over\displaystyle n_5+\cdots}}}}} $$$$
