
<table border=0>
!set rr=$[min(5,$rows+1)]
!set cc=$[min(30,5*$cols)]
!for i=1 to $saverank
 !ifval $i%2=1
  <tr>
 !endif
 <td>M<sub>$i</sub>=<td>$(m_leftpar$rr)
 <td><textarea cols=$cc rows=$rr name=v$i>$(v$i)</textarea>
 <td>$(m_rightpar$rr)
!next i
</table>
<small>(Enter your matrices line by line, separating the elements by commas.)
</small>
