
!form reply

!if $saverank=$empty
 !if $error=$empty and $rank=$empty
  En primer lugar, escriba la dimensión de $m_S:
 !else
  Dimensión de $m_S&nbsp;:
 !endif
 <input name=rank value="$rank">
!else # saverank!=empty
 !if $error=$empty
  Ahora, introduzca la base (con $saverank elementos,
  ya que ha contestado que dim($m_S)=$saverank).
 !else
  De nuevo, escriba la base (con $saverank elementos).
 !endif
 !href cmd=reply&rank=back Corregir la dimensión.
 <p>
 !read form.$type.phtml
!endif # saverank=empty?

<p><center>
<input type=submit value="Enviar la respuesta">
</center>
</form>

