!set renewlink=cmd=renew&worksheet=$worksheet&$module_init_parm

!if $title!=$empty
 !set module_title=$title
 !set module_author=$author
 !set module_address=$email
!endif

!header

!if $title=$empty
 This module is a groupment of exercises. You have apparently requested it
 without precising which valid exercise you want to do. It is either because
 you clicked on a wrong link, or because of a software bug.
 <p><center>
 !href module=$module Try to restart your manipulation
 , or
 !href $ abandon
 . </center>
 !goto end
!endif

:tester
!read oef/present.phtml

<p><hr width=50%> <p>

!if $cmd=hint
 !read oef/hint.phtml
 !goto end
!endif

!if $status=waiting
 !if $error!=$empty
  !read msg.phtml
  <p>
 !endif
 !read form.phtml
 <p>
 !if $hint!=$empty and $givehint>0
  !href cmd=hint Hint
.
 !endif
 !if $qnum<=1
  !href exo_Renew
.
 !else
  This is exercise number $[$reply_cnt+1] in a session of $qnum exercises.
  !href $renewlink Abandon the session
.
 !endif
 <p>
 !read tool.phtml linear/matrix linear/matmult linear/vector linear/linsolver
!else
 !if $error!=$empty
  !read msg.phtml
 !else
  !read answer.phtml
 !endif
 <p>
 !if $status!=$empty
  This is exercise number $reply_cnt in a session of $qnum exercises. <p>
  !href cmd=next Continue the session with the next exercise
, or
  !href $renewlink abandon the session and ask for a new one
. (You must go through to the end of a session if you want a score.)
 !else
  !if $qnum>1
   You have finished a session of $qnum exercises, with a score of
   $score over 10.
   !ifval $score>9.8
    Congratulations!
   !endif
   <p>
   !href exo_Again
.
   !if $wims_sheet=$empty
    !href exo_Intro
.
   !endif
  !else
   You have obtained a score of $score over 10.
   !ifval $score>9.8
    Congratulations!
   !endif
   <p>
   !href exo_Again
.
   !if $wims_sheet=$empty
    !href exo_Intro
.
   !endif
  !endif
 !endif
!endif

:end
!tail

