
<center><table border=0>
!for i=1 to $rows
 <tr>
 !if $i=1
  <td rowspan=$rows>$(m_leftbrace$rows)
 !endif
 !for j=1 to $saverank
  !if $i=1
   <td rowspan=$rows>M<sub>$j</sub>&nbsp;=<td rowspan=$rows>$(m_leftpar$rows)
  !endif
  !for k=1 to $cols
   !set l=!line $i of $(v$j)
   !set c=!item $k of $l
   <td align=center>$c
  !next k
  !if $i=1
   <td rowspan=$rows>$(m_rightpar$rows)
   !if $j<$saverank
    <td rowspan=$rows>,
   !endif
  !endif
 !next j
 !if $i=1
  <td rowspan=$rows>$(m_rightbrace$rows)
 !endif
!next i
</table></center>

