!header

!! La présentation de l'exercice.
!read present.phtml

<p><hr> <p>

!if $status=waiting
 !if $error!=$empty
  !read msg.phtml
  <p><hr width=50%> <p>
 !endif
 !! La forme de réponse
 !read form.phtml
 <p>
 !href exo_Renew
.
!else
 !if $error!=$empty
  !read msg.phtml
  <p><hr width=50%> <p>
 !endif
 !! L'analyse de réponse
 !read answer.phtml
 <p>
 !href exo_Again
.
 !if $worksheet=$empty
  !href exo_Intro
.
 !endif
!endif

:end
!tail

