!if $compute=yes and $cmd!=resume
 !if $error!=$empty
  !read msg.phtml
  !exit
 !endif
 <center>
 !for i=1 to $objcnt
  !if $(pformula$i)!=$empty
   <font color=#$(color_$(lt$i))>--{
   !set mfo=!replace , by $ , $ in $(pformula$i)
   !htmlmath $mfo
   }--</font> <br>
  !endif
 !next i
 !set ins_attr=$ins_attr name=ins0
 !if 3D isin $type
   !insplot3d $myformula
 !else
   !insplot $myformula
 !endif
 </center>
 !if $ins_warn=fail
  <p>
  We have failed to plot your formula which probably contains errors.
  <p>
  !exit
 !endif
 !if $ins_animation=yes
  <center><form>Animation: 
  !if $set_loop=0
   <input type=button value=replay onClick="document.ins0.src='$ins_url'">
  !else
   <input type=button value=stop onClick="document.ins0.src='nogif.html'">&nbsp;
   <input type=button value=replay onClick="document.ins0.src='$ins_url'">
  !endif
  </form></center>
 !endif
!endif

