
!set cut=!item $askcnt of 0,0,0,3,4,4,46,47
!set ins_border=0
<center><table border=1 cellspacing=2 cellpadding=4>
!for i=1 to $askcnt
 !if $i isin 1$cut
  <tr>
 !endif
 <td align=center>
 !set eq=!item $i of $ineqtex
 !if $status=waiting
  !href cmd=reply&good=$i
  !instex $$$$ $eq $$$$
</a>
 !else
  !if $i=$good
   <img src=gifs/blueball.gif>
  !endif
  !if $i=$goodf
   <img src=gifs/redball.gif>
  !endif
  !instex $$$$ $eq $$$$
 !endif
 </td>
!next i
</table></center>

